* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Quicksand", sans-serif;
}

h6 {
  font-family: "Pacifico", cursive;
  font-size: 1.1rem;
  color: #ff6600;
}
/* header */
header {
  position: absolute;
  width: 100%;
  z-index: 100;
  padding: 20px 0;
}
header .header__content {
  padding: 0;
}
header .header__content .navbar {
  justify-content: space-between;
}
header .header__content .navbar-brand {
  font-size: 2.5rem;
  font-weight: 700;
}
.header__content .navbar-collapse {
  justify-content: space-between;
}
.header__content .header__form form {
  position: relative;
  display: none;
}
.header__content .header__form .form-control {
  height: 45px;
  padding: 10px 50px 10px 20px;
  border: none;
}
.header__content .header__form .fa-search {
  position: absolute;
  font-size: 0.9rem;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}
.header__content .navbar-collapse .header__icon {
  color: white;
  font-size: 1.2rem;
}
.header__icon span {
  padding: 20px;
}
.header__icon #lightMode {
  display: none;
}
.header__content .header__btn button {
  background-color: transparent;
  font-size: 2rem;
  color: white;
  border: none;
  margin-left: 10px;
}
header .header__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.728);
  top: 0;
  left: 0;
  animation: openNav 0.2s linear 0s;
  display: none;
}
@keyframes openNav {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
@keyframes closeNav {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}
.header__overlay .header__close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  background-color: #ff6600;
  border: none;
  color: white;
}
.header__overlay .header__hidden {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__overlay .header__hidden ul {
  list-style: none;
}
.header__overlay .header__hidden ul li {
  margin: 10px 0;
}
.header__overlay ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  transition: all 0.3s;
}
.header__overlay ul li a:hover {
  color: #ff6600;
}
/* myCarousel */
.myCarousel {
  background-image: url(../img/banner1.jpg);
  background-position: left;
  background-size: cover;
  height: 700px;
  position: relative;
  background-attachment: fixed;
}
.myCarousel::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #ff6600,
    rgba(255, 102, 0, 0.556),
    #ff66000c
  );
  top: 0;
  left: 0;
}
.myCarousel .myCarousel__content {
  position: absolute;
  width: 100%;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
}

.myCarousel .myCarousel__overlay h2 {
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
  margin: 100px 0 0;
}
.myCarousel .myCarousel__overlay p {
  margin: 20px 0;
  color: white;
  line-height: 30px;
}
.myCarousel__overlay a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 700;
  width: 200px;
  height: 55px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  font-size: 0.9rem;
  transition: all 0.5s;
}
.myCarousel__overlay a .fa-chevron-right {
  font-size: 1rem;
  padding-left: 10px;
}
.myCarousel__overlay a:hover {
  background-color: white;
  color: #ff6600;
}

/* aboutUs */
.aboutUs {
  padding: 50px 0;
}
.aboutUs .aboutUs__content .aboutUs__left h3 {
  font-size: 1.8rem;
  font-weight: 600;
}
.aboutUs .aboutUs__content .aboutUs__right {
  margin-top: 30px;
}
.aboutUs .aboutUs__content .aboutUs__right p {
  font-size: 1rem;
  line-height: 30px;
  margin: 0;
}
/* bookEasly */
.bookEasly {
  padding: 50px 15px;
  background-color: #ff6600;
}
.bookEasly .bookEasly__content .bookEasly__left {
  position: relative;
  padding: 0;
}
.bookEasly .bookEasly__content .bookEasly__left::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(16, 15, 19, 0.46);
  display: block;
}
.bookEasly .bookEasly__content .bookEasly__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bookEasly .bookEasly__content .bookEasly__right {
  padding: 50px 15px 0;
}
.bookEasly__content .bookEasly__right h6 {
  color: white;
}
.bookEasly__content .bookEasly__right h3 {
  font-size: 1.9rem;
  font-weight: 600;
}
.bookEasly__content .bookEasly__right p {
  font-size: 1rem;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}
.bookEasly__right .bookEasly__detail {
  margin-top: 50px;
}
.bookEasly__right .bookEasly__detail a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 20px 0 10px;
}

.bookEasly__content .bookEasly__detail i {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  color: #ff6600;
  font-size: 1.4rem;

  transition: all 0.5s;
}
.bookEasly__content .bookEasly__item:hover i {
  color: #ffc600;
}

/* whatNew */
.whatsNew {
  padding: 100px 0;
  background-color: #f7f7f7;
}
.whatsNew .whatsNew__title h3 {
  font-weight: 600;
}
.whatsNew .whatsNew__item {
  position: relative;
  margin: 15px 0;
}
.whatsNew .whatsNew__item img {
  border-radius: 7px;
}
.whatsNew .whatsNew__overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.238),
    rgba(255, 255, 255, 0.138),
    rgba(255, 255, 255, 0.138)
  );
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-radius: 7px;
  opacity: 0;
  transition: all 0.5s;
}
.whatsNew .whatsNew__item:hover .whatsNew__overlay {
  opacity: 1;
}
.whatsNew .whatsNew__item .whatNew__detail {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  left: 0;
  padding: 130px 0 0 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.747), transparent);
  border-radius: 7px;
}

.whatsNew__item .whatNew__detail a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}
.whatsNew__item .whatNew__detail p {
  font-size: 1rem;
  color: #ffc600;
  font-weight: 500;
  margin-top: 5px;
}

/* service */
.service {
  padding: 60px 0;
  background: linear-gradient(to bottom, #fff, #f9f9f9, #fdfdfd);
}

.service .service__item {
  border: 1px solid rgba(128, 128, 128, 0.187);
  border-radius: 10px;
  padding: 40px;
  margin: 15px 0;
  background-color: white;
  transition: all 0.5s;
}
.service .service__item .row {
  margin-bottom: 16px;
}
.service__item .row i {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  font-size: 1.5rem;
  color: #ff6600;
  transition: all 0.5s;
}
.service__item .row p {
  margin-bottom: 10px;
  font-size: 1rem;
  color: rgba(128, 128, 128, 0.85);
}

.service__item .row h4 {
  font-weight: 600;
  transition: all 0.1s;
  font-size: 1.2rem;
}
.service__item .row h4:hover {
  color: #ff6600;
}
.service__item p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: rgba(128, 128, 128, 0.85);
}
.service .service__item:hover {
  box-shadow: 0 0 55px rgba(128, 128, 128, 0.15);
}
.service .service__item:hover i {
  background-color: #ff6600;
  color: white;
}
@media screen and (min-width: 576px) {
  /* bookEasly */
  .bookEasly__content .bookEasly__right h3 {
    font-size: 2rem;
  }
  .bookEasly__content .bookEasly__right p {
    font-size: 1.1rem;
  }
  .bookEasly__right .bookEasly__detail a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
  }
  /* whatsNew */
  .whatsNew__item .whatNew__detail a {
    font-size: 1.1rem;
  }
  .whatsNew__item .whatNew__detail p {
    font-size: 1rem;
  }
  /* service */

  .service__item p {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 604px) {
  /* header */
  .header__content .header__form form {
    display: inline-block;
  }
}
@media screen and (min-width: 768px) {
  /* header */
  .header__overlay .header__hidden ul li {
    margin: 20px 0;
  }
  .header__overlay ul li a {
    font-size: 1.2rem;
  }
  /* Carousel */
  .myCarousel .myCarousel__overlay h2 {
    font-size: 2.6rem;
    margin-top: 0px;
  }
  .myCarousel .myCarousel__overlay p {
    margin-bottom: 50px;
  }
  /* AboutUs */
  .aboutUs .aboutUs__content .aboutUs__left h3 {
    font-size: 1.9rem;
    font-weight: 600;
  }
  .aboutUs .aboutUs__content .aboutUs__right {
    margin-top: 30px;
  }
  .aboutUs .aboutUs__content .aboutUs__right p {
    font-size: 1.1rem;
    line-height: 30px;
    margin-bottom: 20px;
  }
  /* bookEasly */
  .bookEasly .bookEasly__content .bookEasly__right {
    padding: 50px 50px 0;
  }
  /* whatsNew */
  .whatsNew .whatsNew__title h3 {
    font-size: 1.9rem;
  }
  .whatsNew .whatsNew__item .whatNew__detail {
    padding: 110px 0 0 50px;
  }
}
@media screen and (min-width: 992px) {
  /* Carousel */
  .myCarousel .myCarousel__overlay h2 {
    font-size: 2.6rem;
    padding-right: 340px;
  }
  .myCarousel .myCarousel__overlay p {
    margin-bottom: 50px;
    padding-right: 340px;
  }
  /* AboutUs */
  .aboutUs {
    padding: 95px 0;
  }
  .aboutUs .aboutUs__content .aboutUs__right {
    margin-top: 0px;
    padding-left: 50px;
  }
  .aboutUs .aboutUs__content .aboutUs__right p {
    font-size: 1.1rem;
    line-height: 30px;
    margin-bottom: 20px;
  }
  /* bookEasly */
  .bookEasly {
    padding: 25px 0px;
    background-color: #ff6600;
  }
  .bookEasly .bookEasly__content .bookEasly__right {
    padding: 50px 70px;
  }
  /* whatsNew */

  .whatsNew__item .whatNew__detail a {
    font-size: 1.3rem;
  }
  .whatsNew__item .whatNew__detail p {
    font-size: 1.1rem;
  }
  /* Service */
  .service {
    padding: 100px 0;
  }
  .service__item .row p {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: rgba(128, 128, 128, 0.85);
  }

  .service__item .row h4 {
    font-weight: 600;
    transition: all 0.1s;
  }
  .service__item p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: rgba(128, 128, 128, 0.85);
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  /* Carousel */
  .myCarousel .myCarousel__overlay h2 {
    font-size: 3.2rem;
    padding-right: 0px;
    margin-top: 120px;
  }
  .myCarousel .myCarousel__overlay p {
    margin-bottom: 50px;
    padding-right: 0;
  }
  /* AboutUs */
  .aboutUs .aboutUs__content .aboutUs__left h6 {
    font-size: 1.2rem;
  }
  .aboutUs .aboutUs__content .aboutUs__left h3 {
    font-size: 2.3rem;
    font-weight: 600;
  }
  .aboutUs .aboutUs__content .aboutUs__right p {
    font-size: 1.1rem;
    line-height: 30px;
  }
  /* bookEasly */
  .bookEasly {
    padding: 0;
  }
  .bookEasly .bookEasly__content .bookEasly__right {
    padding: 70px 70px;
  }
  .bookEasly__content .bookEasly__right h3 {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .bookEasly__content .bookEasly__right p {
    font-size: 1.1rem;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
  }
  /* whatsNew */
  .whatsNew__item .whatNew__detail a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
  }
  .whatsNew__item .whatNew__detail p {
    font-size: 1.1rem;
    color: #ffc600;
    font-weight: 500;
    margin-top: 5px;
  }
  /* service */
  .service__item .row p {
    font-size: 1.1rem;
  }

  .service__item .row h4 {
    font-weight: 600;
    transition: all 0.1s;
    font-size: 1.4rem;
  }
}
